body {
  background-color: #0B0C10; /* Primary Dark for body background */
  color: #C5C6C7; /* Light Grey for text color */
  font-family: 'Arial', sans-serif;
  padding-top: 60px; /* Adjust this value based on the height of your navbar */
  margin: 0; /* Removes default margin */
}

/* Overriding the main navbar styles */
.navbar {
  height: 60px; /* Set a specific height */
  line-height: 60px; /* Align text vertically in the center */
  background-color: #1F2833; /* Secondary Dark Blue background */
  border-color: #45A29E; /* Complementary Dark Blue border */
   position: fixed;  /* Fixes the navbar to the viewport */
  top: 0;           /* Aligns the navbar at the top of the viewport */
  width: 100%;      /* Makes the navbar extend across the full width of the viewport */
  z-index: 1000;    /* Ensures the navbar stays on top of other content */
}

/* Navbar brand and link colors */
.navbar-brand, .navbar-nav .nav-link {
  color: #66FCF1 !important; /* Accent Cyan text for better readability */
}

/* Navbar link hover effects */
.navbar-nav .nav-link:hover {
  color: #0B0C10 !important; /* Primary Dark on hover for text */
  background-color: #66FCF1 !important; /* Accent Cyan background */
}

/* Custom styles for active state using Bootstrap classes */
.navbar-nav .active>.nav-link,
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show,
.navbar-nav .show>.nav-link {
  color: #45A29E !important; /* Complementary Dark Blue for active menu items */
}

/* Navbar toggler icon color */
.navbar-light .navbar-toggler {
  color: #66FCF1 !important;
  border-color: #66FCF1 !important; /* Accent Cyan border for the toggler */
}

/* Navbar toggler icon bars color */
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%2366FCF1' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

/* Overriding the dropdown menu styles */
.navbar .dropdown-menu {
  background-color: #1F2833 !important; /* Secondary Dark Blue for dropdown */
  border-color: #45A29E !important; /* Complementary Dark Blue border */
}

/* Dropdown item styling */
.navbar .dropdown-item {
  color: #66FCF1 !important; /* Accent Cyan text for dropdown items */
}

/* Dropdown item hover styling */
.navbar .dropdown-item:hover, .navbar .dropdown-item:focus {
  color: #0B0C10 !important; /* Primary Dark text on hover/focus */
  background-color: #45A29E !important; /* Complementary Dark Blue background */
}

.small-logo {
  width: 80px!important;
  height: 80px!important;
}


.btn {
  background-color: #66FCF1; /* Accent Cyan */
  color: #0B0C10; /* Primary Dark */
  border: none;
  padding: 10px 20px;
  
}

.btn:hover {
  background-color: #45A29E; /* Complementary Dark Blue */
  color: #C5C6C7; /* Light Grey */
}

#content > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  gap: 5px;
  
}

.card {
  flex: 0 1 300px; /* Flex-grow set to 0, Flex-shrink set to 1, Flex-basis set to 300px */
  height: 440px;
  margin: 10px; /* Adds margin around cards */
  background: #1F2833;
  border: 2px solid #45A29E;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
  position: relative; /* Ensures positioning context for child absolute elements */
  overflow: hidden;
  
}

.card img {
  width: 100%;
  height: auto; /* Changes height to auto to maintain aspect ratio */
  object-fit: cover; /* Ensures the image covers the card */
}

.card .descriptions {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(101, 111, 120, 0.85);
  padding: 20px;
  box-sizing: border-box;
  clip-path: circle(0% at 100% 100%);
  transition: clip-path 0.5s ease-out;
}


.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 650px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card:hover .descriptions {
  clip-path: circle(75% at 50% 50%);
}
.card:hover {
  box-shadow: 0px 2px 3px rgba(0, 0, 0, .3);
  transform: scale(.97);
}

.card:hover img {
  transform: scale(1.1); /* Reduced scale for a more subtle effect */
  filter: blur(2px); /* Softer blur for a less drastic transition */
}

.card h1 {
  color: #66FCF1; /* Accent Cyan for headers */
  letter-spacing: 1px;
  margin: 0px;
}

.card p {
  line-height: 24px;
  height: 70%;
  color: #66FCF1;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

/* Styles for Slick Carousel slides */
.carousel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px; /* Add margin-top for gap between sliders */
  padding: 20px;
}

.slide {
  flex: 0 1 300px; /* Flex-grow set to 0, Flex-shrink set to 1, Flex-basis set to 300px */
  height: 440px;
  margin: 10px; /* Adds margin around cards */
  background: #1F2833;
  border: 2px solid #45A29E;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
  position: relative; /* Ensures positioning context for child absolute elements */
  overflow: hidden;
  
}

.slide img {
  width: 100%;
  height: 100%;
  transition: all .5s cubic-bezier(.8,.5,.2,1.4);
}

.slide .descriptions {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(11, 12, 16, 0.85); /* Semi-transparent layer using Primary Dark for readability */
  color: #66FCF1; /* Light Grey for text color, ensuring readability */
  width: 100%;
  height: 100%;
  transition: all .7s ease-in-out;
  padding: 20px; /* Adjusted padding for consistency */
  box-sizing: border-box;
  clip-path: circle(0% at 100% 100%);
}

.slide:hover .descriptions {
  left: 0px;
  transition: all .7s ease-in-out;
  clip-path: circle(75%);
}

.slide:hover {
  transition: all .5s cubic-bezier(.8,.5,.2,1.4);
  box-shadow: 0px 2px 3px rgba(0,0,0,.3); /* Lighter shadow for hover effect */
  transform: scale(.97);
}

.slide:hover img {
  transition: all .5s cubic-bezier(.8,.5,.2,1.4);
  transform: scale(1.6) rotate(20deg);
  filter: blur(3px);
}

.slide h1 {
  color: #66FCF1; /* Consistent vibrant red for titles */
  letter-spacing: 1px;
  margin: 0px;
}

.slide p {
  line-height: 20px; /* Adjusted line-height */
  height: 70%;
  font-size: 12px; /* Smaller font size for cleaner text appearance */
}

h2 {
  text-align: center;
  color: #66FCF1; /* Accent Cyan for headings to stand out */
  margin: 0 0 10px; /* Adjusted margin */
}

/* Reduce gap between sliders */
.slick-slider {
  margin-bottom: 10px; /* Adjusted margin */
}

.Newcarousel .slide {
  background-size: cover;
  background-position: center;
  margin: 15px; /* Adjust based on your layout */
}

/* Ensure the carousel spans the entire width of its container */
.Newcarousel {
  margin: 0 auto;
  width: 90%;
}

/* Adjust the slick list to ensure it spans the full width */
.slick-list {
  margin: 0 -15px; /* Adjust this value based on your actual margins */
}

/* Optional: Adjustments for slick buttons (prev/next) to ensure they are visible and positioned correctly */
.slick-prev, .slick-next {
  color: #66FCF1; /* Accent Cyan for buttons */
  z-index: 1;
}

/* If you have control over the aspect ratio, you can explicitly set heights for various breakpoints */
@media (min-width: 768px) {
  .Newcarousel .slide {
    height: 600px; /* Adjust based on your preference */
  }
}

.Newcarousel .slide {
  position: relative;
  color: #C5C6C7; /* Light Grey adjusted text color */
}

.Newcarousel .slide-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.Newcarousel .slide-content {
  position: absolute;
  bottom: 20px; /* Adjust as needed */
  left: 20px; /* Adjust as needed */
  right: 20px; /* Ensures padding on the right */
  text-align: left;
}

.Newcarousel .title {
  margin: 0;
  color: #66FCF1; /* Accent Cyan for titles within the slides */
}

.Newcarousel .description {
  margin-top: 10px; /* Adjust space between title and description */
  color: #66FCF1; /* Light Grey for descriptions */
}

.Newcarousel .additional-info {
  display: flex;
  justify-content: space-between; /* Adjusts alignment */
  margin-top: 10px; /* Space between description and additional info */
  color: #66FCF1; /* Light Grey for additional info */
}

.Newcarousel .additional-info > span {
  flex: 1; /* Adjust as needed */
  text-align: left; /* Aligns content to the left */
}

/* General Modal Adjustments for a Netflix-Like Experience */
.modal-dialog {
  max-width: 60%; /* Offering a bit more space for content */
  margin: 2vh auto; /* Vertical margin based on viewport height */
}

.modal-content {
  background-color: #0B0C10; /* Primary Dark as modal background */
  color: #C5C6C7; /* Light Grey for text contrast */
  border: none; /* Removing default borders */
}

.modal-header, .modal-footer {
  border-bottom: 1px solid #1F2833; /* Secondary Dark Blue for subtle borders */
  background-color: #0B0C10; /* Primary Dark consistent with the modal background */
  color: #66FCF1; /* Accent Cyan for a pop of color in text */
}

.modal-title {
  display: none; /* Hiding the title for a more immersive poster display */
}

/* Poster Image Styling */
.poster-wrapper {
  width: 100%; /* Full width for a more immersive experience */
  overflow: hidden; /* Cleanly hides overflow */
  position: relative; /* Establishes a positioning context */
  margin-bottom: 20px; /* Spacing between poster and details */
  display: flex;
}
.poster-title {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(11, 12, 16, 0.75); /* Semi-transparent overlay using Primary Dark */
  color: #66FCF1; /* Accent Cyan for poster title */
  padding: 5px 10px; /* Padding around the text */
  margin: 10px; /* Margin from the edges of the wrapper */
  font-size: 20px; /* Large font for visibility */
  border-radius: 5px; /* Rounded corners for the background */
}
.modal-poster-img {
  width: 100%;
  height: auto; /* Maintains aspect ratio */
  object-fit: cover; /* Ensures cover fit within the container without distortion */
}

/* Details and Description Styling */
.modal-details {
  display: flex;
  justify-content: center; /* Keeps left and right details apart */
}

.detail-label {
  font-weight: bold; /* Make labels bold */
  margin-right: 10px; /* Space between label and value */
  white-space: nowrap; /* Prevents the label from wrapping */
  color: #66FCF1; /* Accent Cyan for labels */
}

.detail-value {
  text-align: left; /* Ensure values are left-aligned */
  flex: 1; /* Allows the value to expand and fill the available space */
  color: #66FCF1; /* Light Grey for values */
}

.modal-details-left, .modal-details-right {
  flex: 1;
}

.modal-details-right {
  text-align: left; /* Aligns text to the right */
  padding-left: 650px; /* Adjustment for padding */
}

.modal-details-left p, .modal-details-right p {
  margin: 8px 0; /* Increased spacing for readability */
  color: #66FCF1; /* Light Grey for paragraphs */
}

.modal-description {
  font-size: 16px; /* Slightly larger font for readability */
  padding: 10px 0; /* Adjusted padding for compactness */
  color: #66FCF1; /* Light Grey for modal description */
}

/* Footer Styling for a Consistent Look */
.modal-footer {
  flex-direction: column;
  align-items: flex-start; /* Aligns footer content to the start */
  padding: 20px; /* Sufficient padding for separation */
  color: #66FCF1; /* Accent Cyan for footer text */
}


.modal-footer p {
  margin: 4px 0; /* Tighter margin for a compact footer */
}

/* Responsive Adjustments */
@media (max-width: 992px) {
  .modal-dialog {
    max-width: 75%; /* Allows the modal to be slightly wider on smaller screens */
  }
}

@media (max-width: 576px) {
  .modal-dialog {
    max-width: 90%; /* Utilizes more screen space for very small devices */
  }

  .modal-details {
    flex-direction: column; /* Stacks details vertically for space efficiency */
    align-items: center; /* Centers the details */
  }

  .modal-details-left, .modal-details-right {
    text-align: center; /* Centers text in the detail sections */
    margin-bottom: 10px; /* Adds bottom margin for separation */
  }

  .modal-footer {
    align-items: center; /* Centers footer content */
  }
}

.modal-footer p {
  margin: 4px 0; /* Tighter margin for a compact footer */
}

/* Responsive Adjustments */
@media (max-width: 992px) {
  .modal-dialog {
    max-width: 75%; /* Allows the modal to be slightly wider on smaller screens */
  }
}

@media (max-width: 576px) {
  .modal-dialog {
    max-width: 90%; /* Utilizes more screen space for very small devices */
  }

  .modal-details {
    flex-direction: column; /* Stacks details vertically for space efficiency */
    align-items: center; /* Centers the details */
  }

  .modal-details-left, .modal-details-right {
    text-align: center; /* Centers text in the detail sections */
    margin-bottom: 10px; /* Adds bottom margin for separation */
  }

  .modal-footer {
    align-items: center; /* Centers footer content */
  }
}
.poster-container .image-overlay {
  position: relative;
  display: inline-block;
}

.poster-container img.movie-poster {
  display: block; /* Ensures img takes full width of its container */
  width: 100%; /* Ensures img is responsive within its container */
}

.media-type-label{
  position: absolute;
  padding: 2px 5px;
  font-size: 12px;
  color: white;
  border-radius: 0 5px; /* Adjusted for both labels */
}

.rating-label {
  position: absolute;
  padding: 2px 5px;
  font-size: 14px;
  color: black;
  border-radius: 0 5px; 
}
.media-type-label {
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.75); /* Adjust as needed */
}

.rating-label {
  top: 0;
  left: 0;
  
}
